dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
.orig.
web-build/
.expo
.expo-shared/
sr_soybean/.expo/web/cache/development/babel-loader/
sr_soybean/package-lock.json
/sr_soybean/.expo-shared
sr_soybean/.expo/settings.json
sr_soybean/node_modules/*
sr_soybean/.expo/web/cache/production/images/favicon/*

# macOS
.DS_Store
